.nav-bar{
  .nav-bar-1{
    a{
      .nav-bar-2{
        .icon-baobiaoceshezhi{
          color: #439DD1;
        }
        .icon-jiaohuan{
          color: #EC6066;
        }
        .icon-xiugai{
          color: #439DD1;
        }
        .icon-tihuan{
          color: #00B25E;
        }
        .icon-tingzhi{
          color: #EC6066;
        }
        .icon-kaishi{
          color: #00B25E;
        }
      }
    }  
  }
}