.nav-bar{
  .nav-bar-1{
    a{
      .nav-bar-2{
        .icon-zhengfuwuchangzijinzizhu{
          color: #439DD1;
        }
        .icon-zhi{
          color: #EC6066;
        }
        .icon-shanchu1{
          color: #EC6066;
        }
        .icon-shuifei{
          color: #439DD1;
        }
        .icon-shuiliangjibie3{
          color: #00B25E;
        }
        .icon-shuifei1{
          color: #00B25E;
        }
        .icon-yiweiyue{
          color: #00B25E;
        }
        .icon-xiugai{
          color: #439DD1;
        }
      }
    }

  }
}