.nav-bar{
  .nav-bar-1{
    a{
      .nav-bar-2{
        .icon-14shuibiao{
          color: #439DD1;
        }
        .icon-arrears-status{
          color: #EC6066;
        }
        .icon-chaxun1{
          color: #439DD1;
        }
        .icon-icon{
          color: #00B25E;
        }
        .icon-zizhujiaofei{
          color: #00B25E;
        }
        .icon-fapiao{
          color: #439DD1;
        }
        .icon-mian{
          color: #00B25E;
        }
        .icon-biangeng{
          color: #F19333;
        }
      }
    }

  }
}